* {
    padding: 0%;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: red;

}

h1 {
    font-size: 30pt;
}

div {
    width: 99%;
    margin: auto;
}

h3 {

    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 2%;
    font-size: 20pt;
    margin: none;
    clear: both;

    
}

img {
    width: 18%;


}

/*-------------MENU---------*/
nav {
    background-color: rebeccapurple;
    height: 28px;
}

ul {
    list-style: none;
    float: right;
    margin-right: 100px;
}

li {
    display: inline-block;
    line-height: 28px;
    padding: 0px 10px;

}

li a {
    text-decoration: none;
    color: black;

}

li a:hover {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}